<div class="slider">
  <div class="slides">
    <input type="radio" name="radio-btn" id="radio1">
    <input type="radio" name="radio-btn" id="radio2">      
    <input type="radio" name="radio-btn" id="radio3">
    <input type="radio" name="radio-btn" id="radio4">
<!-- slideImages -->
     <div class="slide first">
     <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG24/Smart_Watches/MED_MAY/Tall_Hero_1500X600_BAU_NewLaunches._CB554931622_.jpg" alt="">
     </div>

     <div class="slide second">
     <img src="https://images-eu.ssl-images-amazon.com/images/G/31/CookwareDining/Aman/June/5300-Kitchen---Hero-update---unrec_3000X1200._CB554397825_.jpg" alt="">
     </div>

     <div class="slide third">
     <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img22/Wireless/devjyoti/GW/Uber/Nov/D103625178_DesktopTallHero_3000x1200_V3._CB558389732_.jpg" alt="">
     </div>

     <div class="slide fourth">
     <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Softlines_JWL_SH_GW_Assets/2024/Apr/Shoes/Unrec/No_bank/Cat3/299_PC_3000._CB560430359_.jpg" alt="">       
     </div>
     <!-- Automatic Navigation -->
     <div class="navigation-Auto">
      <div class="auto-btn1"></div>
      <div class="auto-btn2"></div>
      <div class="auto-btn3"></div>
      <div class="auto-btn4"></div>
     </div>

  </div>
    <!-- Manual Navigation -->
   <div class="navigation-manual"  > 
    <label for="radio1" class="manual-btn"></label>
    <label for="radio2" class="manual-btn"></label>
    <label for="radio3" class="manual-btn"></label>
    <label for="radio4" class="manual-btn"></label>

   </div>
 </div>
 
     <!-- Section4 -->
     <div class="section4">
         
      <div class="products">

      <div class="FeaturedProducts">
    
        <div class="grid-item">
          <img src="https://m.media-amazon.com/images/I/41Tok+v11RL._AC_SY400_.jpg" alt="image nf"/>
          <h5>Cushion covers,bedsheets & more</h5>
        </div>
        <div class="grid-item">
          <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/New/2x/372x232_Home_decor_1._SY232_CB555629502_.jpg" alt="image nf"/>
          <h5>Figurines, vases & more</h5>
        </div>
        <div  class="grid-item">
          <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/New/2x/372x232_Home_storage_1._SY232_CB555629502_.jpg" alt="image nf"/>
          <h5>Home storage</h5>
        </div>
        <div class="grid-item">
          <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/New/2x/372x232_Home_lighting_2_-_Copy._SY232_CB555629502_.jpg" alt="image nf"/>
          <h5>Lighting solutions</h5>
        </div>
  
      </div>
      <div class="FeaturedProducts">
     
        <div class="grid-item">
          <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/GATEWAY/MSO/Appliances-QC-PC-186x116--B08RDL6H79._SY116_CB667322346_.jpg" alt="image nf"/>
          <h5>Air conditioners</h5>
        </div>
        <div class="grid-item">
          <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/GATEWAY/MSO/B08345R1ZW---372x232._SY232_CB667322346_.jpg" alt="image nf"/>
          <h5>Refridgerators</h5>
        </div>
        <div class="grid-item">
          <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/GATEWAY/MSO/B07G5J5FYP._SY232_CB667322346_.jpg" alt="image nf"/>
          <h5>Microwaves</h5>
        </div>
        <div class="grid-item">
          <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/GATEWAY/MSO/Appliances-QC-PC-186x116--B08CPQVLZT._SY232_CB667322346_.jpg" alt="image nf"/>
          <h5>Washing machines</h5>
        </div>
  
      </div>
      <div class="FeaturedProducts">
       
        <div class="grid-item">
          <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/june/CE/GW/QC/PC/PC_QuadCard_boAt._SY232_CB553870684_.jpg" alt="image nf"/>
          <h5>Starting Rs.249 |boAt</h5>
        </div>
        <div class="grid-item">
          <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/june/CE/GW/QC/PC/PC_QuadCard_Noise._SY232_CB553870684_.jpg" alt="image nf"/>
          <h5>Starting Rs.649 |Noise</h5>
        </div>
        <div class="grid-item">
          <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/june/CE/GW/QC/PC/PC_QuadCard_Zeb._SY232_CB553870684_.jpg" alt="image nf"/>
          <h5>Starting Rs.149 |Zebronics</h5>
        </div>
        <div class="grid-item">
          <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/june/CE/GW/QC/PC/PC_QuadCard_Boult._SY232_CB553870684_.jpg" alt="image nf"/>
          <h5>Starting Rs.349 |boult</h5>
        </div>
  
      </div>
      
      </div>
      </div>



<div> 
<!-- Manual Navigation -->
<div class="navigation-manual1"  > 
<label for="radio11" class="manual-btn1" ></label>
<label for="radio12" class="manual-btn1"></label>
</div>
</div>




<div class="productslist" >
<div  >
  <app-products ></app-products>
</div>
</div>





<!-- <app-cards></app-cards> -->
<!-- <app-footer></app-footer> -->